.center {
  text-align: center;
}
.m {
  margin: 32px 0 0 0;
}
.btn1 {
  height: 48px;
  background-color: #fff;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: -1.1px;
  &:focus,
  :active,
  :hover {
    border-bottom: transparent;
    outline: none;
  }
}
.btn2,
.btn3 {
  height: 48px;
  background-color: #fff;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: transparent;
  border-bottom: 1px solid;
  margin-bottom: -1.1px;
  &:focus,
  :active,
  :hover {
    border-bottom: transparent;
    outline: none;
  }
}
